{% extends 'user/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block title %}User List{% endblock %}
{% block content %}
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User/</span> List</h4>
        <div class="row">
            <div class="col-xxl">
                <div class="card mb-4">
                    <div class="card-body">
                        <form method="get" class="d-flex align-items-center gap-2">
                            <label for="month" class="me-2">Select Month:</label>
                            <input type="month" name="month" id="month" class="form-control w-auto"
                                   value="
                                           {% if request.GET.month %}{{ request.GET.month }}{% else %}{{ now|date:'Y-m' }}{% endif %}">

                            <button type="submit" class="btn btn-primary">Filter</button>
                        </form>

                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">User Attendance</h5>
                        <small class="text-muted float-end">
                        </small>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col table-responsive" id="table">
                                <a href="{% url 'user:attendance_mark_out' %}"  class="btn btn-danger">Mark Out</a>
                                {% include 'user/partials/staff_attendance_dashboard.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Details Modal #}
    <div class="modal fade" id="form_model" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCenterTitle">User Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="form_body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-label-secondary close" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script>
        document.addEventListener("htmx:afterSwap", function (event) {
            if (event.detail.target.id === "table") {
                $('#form_model').modal('hide');
                $('.modal-backdrop').remove();  // ✅ Fixes the overlay issue
                $('body').removeClass('modal-open');  // ✅ Prevents scrolling lock
            }
        });
    </script>
{% endblock %}
